.container{
    width: 50%;
    height: 50%;
}

table{
    border: 3px solid blue;
}
tr{
    border-bottom: 3px solid blue;
}

#book-form{
    margin-top: 10px;
    display: grid;
    width: 50%;
    height: 50%;
    border: 2px solid blue;
}